body{
	background-color:   #B3B3B3;
	margin: 0px;
	padding:0px;
}


header {
	width: auto;
	height: auto;
	margin: auto;
	color: white;
	padding: 0;
	background: #FFFFFF
}
.limpiar{
	clear: both;
}
.logo{
	float: left;
}
.logo2{
	float: right;
}
h1{
	background: #005883;
	margin: 0%;
	border: 0px;
	padding: 0px;
	width: 100%;
}

.menu{
	height: 40px;
	background:   #F0B429;
	
	
}
nav ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
nav ul li {
	float: left;
}
nav ul li a {
	text-decoration: none;
	line-height: 40px;
	color: white;
	padding: 0px 10px;
	display: block;
	
}
nav ul li a:hover {
	background-color: #F47920
	
}
.active{
	background-color: #F47920

}


article section {
	background: #005883;
	margin : 10% ;
	border: 0px;
	padding: 0px;
	width: 40%;
	display:inline-block;
	
	
}


aside{

float: right;
}
.tw{
width:150px;
height:150px;
}

