* {
	border: 0;
	margin:0;
	padding:0;
}
.general {
    
height: 100%

  
}

body{
	background: #B3B3B3;
	margin: 0;
	padding:0;

}
header {
	background: #FFFFFF;
	color: white;

}
h1{
	background:#005883;
	text-align: center;

}
.menu{
	height: 40px;
	background:   #F0B429;
	}
nav ul {
list-style: none;
	margin: 0px;
	padding: 0px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	text-decoration: none;
	line-height: 40px;
	color: white;
	padding: 0px 10px;
	display: block;
}
nav ul li a:hover {
	background-color: #F47920
	
}
.active{
	background-color: #F47920

}

section{


	background: #FFFFFF;
	width:75%;
	float: left;

}


article{
	margin: 10px 40px 50px 50px;
	border: 2px solid black;
}
h2{
	
	margin:50px;
	text-align: center

}
p{
	text-align: justify;
	padding: 10px 60px;
	border: 2px red
}
#maqueta{
width:538px;
height:379px;
display: block;
margin-left: auto;
margin-right: auto;


}
aside{
	border: 2px solid black;
	float: right;
	height: 400px;

}
footer{
	
	height: 70px;
	background:   #000000;
	color: #B3B3B3;
	float: left;



}
div.logpie{
	 
	width:27.55%;
	padding-left: 1.45%;
	float:left;
	
}
div.info 
 {
    width: 36%;
    font-size: 11px;
    text-align: left;
    line-height: 14px;
    float: right;

}
